[2016-06-12 02:16] mnarayan opened #3 "Create InverseCovariance Subclass of EmpiricalCovariance"
The QUIC algorithm estimates the inverse covariance using the sample covariance estimate $S$ as an input
$ That = max_{\Theta} logdet(Theta) - Trace(Theta_S) - \lambda_| \Theta |_1 $

As a result it makes sense for the sample covariance for QUIC to be computed using the methods inherited from the EmpiricalCovariance class.

Additionally, the log-likelihood and error metrics for the inverse covaria

[2016-06-12 03:12] jasonlaska opened #5 "Validate some of the naming"
@mnarayan can you validate that the covariance/precision ordering I used here https://github.com/jasonlaska/scikitquic/blob/develop/quic/quic.py#L98 is correct?

(the EmpiricalCovariance class estimates the precision with `pinvh` once the covariance has already been estimated)

[2016-06-12 14:50] jasonlaska opened #6 "Fork/copy pyquic bindings into this project"
Yea, after reviewing the **init**.py and EmpiricalCovariance classes, I think it makes sense to make the cython bindings part of this project and simplify/transfer the py_quic/**init**.py/quic() routine into the main file.  Also, rename estimatore to InverseCovariance

[2016-06-12 19:07] mnarayan opened #7 "Create simple example"
To get started
- Use a sample dataset from the nilearn project.
- Plot simple visualizations of the estimated precision matrices
- Future second example could be HCP dataset inspired power simulation.

References:
An  [example](https://github.com/nilearn/nilearn/blob/master/examples/03_connectivity/plot_inverse_covariance_connectome.py)  from nilearn

[2016-06-12 20:09] mnarayan opened #8 "Weighted Penalties"
# Overview

Many provably optimal sparse inverse covariance estimators are multi-stage
a) Get an initial estimate of inverse covariance
b) Use initial estimates to build an adaptive estimator of the inverse covariance.
## Constraining Models

Sometimes, a) involves getting the zero/non-zero pattern using regression or CLIME estimators which have better exact recovery properties and then using thes

[2016-06-14 03:36] #6 closed, assigned to jasonlaska

[2016-07-11 00:46] #7 closed, assigned to mnarayan

[2016-07-11 01:09] mnarayan opened #13 "Model Selection via BIC and EBIC"
Given sparse regularized inverse covariance estimates over a grid of regularization parameters, a popular criteria to choose the optimal penalty and corresponding estimate is to apply the Bayesian (or Swartz) Information Criterion or the BIC and the Extended BIC (EBIC) in high dimensional regimes.

The BIC criterion is defined as
`BIC(lam) = -2 * Loglikelihood(Sigma, Theta(lam)) + (log n) * (# of

[2016-07-11 23:40] mnarayan opened #14 "quic versus graph_lasso example"
One of the benefits of the quic optimization solvers is better convergence guarantees.

There are many known instances where graph_lasso fails to converge. An analysis of this problem was provided in [this](https://web.stanford.edu/~hastie/Papers/glassoinsights.pdf) paper

This could make for a good example, with convergence comparisons after 100 iterations. @jasonlaska

[code]

[Mazumder_example1

[2016-07-19 03:35] #3 closed, assigned to nobody

[2016-07-19 03:36] #5 closed, assigned to mnarayan

[2016-07-19 03:38] jasonlaska opened #15 "See what to borrow from sklearn contrib template"
https://github.com/scikit-learn-contrib/project-template/blob/master/README.md

[2016-07-19 16:18] jasonlaska opened #16 "Make InverseCovarianceCV"
Follow a similar pattern to GraphLassoCV where the CV is integrated with the fact that the algorithm spits out a path of lambdas;  when using path mode, should be more efficient than naive CV example.

[2016-07-19 16:22] jasonlaska opened #17 "Algorithm: Quic & Dirty"
http://www.cs.utexas.edu/~cjhsieh/quic_general.pdf

[2016-07-19 16:23] jasonlaska opened #18 "Algorithm: Big Quic"
http://bigdata.ices.utexas.edu/software/1035/

[2016-07-26 02:37] mnarayan opened #20 "Examples to highlight metrics, model-selection and convergence"
What we now have compared to sklearn.covariance
1. Additional metrics (quadratic loss, kl-loss) (add model selection loss tp+fp) ?
2. Additional methods for model selection/tuning parameters (ebic/bic and others coming)
3. Better convergence guarantees (no figures here, just examples that break GraphLasso)
4. What about timing benefits? (quic is supposed to be faster, big-quic definitely so)
5. Wo

[2016-07-26 02:50] mnarayan opened #21 "Documentation for inverse_covariance.py"
Our inverse covariance class differs from sklearn in a few good but important ways.
We will have to make the api clear for others to use.

Possible sources of confusion:
- [x] What is self.covariance versus self.sample_covariance_?
  We distinguish covariance estimates from the glasso algorithm (self.covariance) versus sample covariance which is an input
- [x] What is lam_scale? How to use it.
- [

[2016-07-26 23:08] mnarayan opened #22 "Dtrace Estimators"
This is uses the D-trace Loss (which is akin to a least squares type loss) instead of the log-likelihood loss to estimate sparse inverse covariance.

It most closely resembles the graphical lasso (produces a positive definite, symmetric, and sparse inverse covariance estimate) but has good & different incoherence/irrepresentability conditions for exact recovery (possibly but not yet provably weake

[2016-07-26 23:30] mnarayan opened #23 "Add plotting function for GraphLasso following the R implementation"
Add traces of the regularization path. This will be incredibly useful in checking existing implementations, comparing different weighted/adaptive estimators in #8 or other alternatives in #22.

I think it should go into the plot methods in the general inversecovariance class.

See example of what it looks like
http://stats.stackexchange.com/questions/68431/interpretting-lasso-variable-trace-plots

[2016-07-29 00:41] #13 closed, assigned to jasonlaska

[2016-07-29 00:42] #14 closed, assigned to nobody

[2016-07-29 00:43] jasonlaska opened #24 "Add comments to convergence comparison example"
See here: https://github.com/jasonlaska/scikitquic/blob/develop/examples/convergence_comparison.py

Please, find something to print out / write a little explanation of whats going on here in the comments.

[2016-07-29 00:45] #16 closed, assigned to nobody

[2016-08-14 18:05] mnarayan opened #27 "Two Stage or Adaptive Estimator Class"
There are several methods to estimate the inverse covariance matrix (MLE, Pseudolikelihood, Dtrace, CLIME, ...). However, the MLE produces positive semi-definite/symmetric  estimate with the standard minimum variance benefits (potentially? asymptotically efficient) and thus appropriate as a final estimator.

Therefore we want an adaptive estimator class that
- Takes an initial estimate as an input

[2016-08-14 18:19] mnarayan opened #28 "Add a statistical power method to the class"
This function will take in a dataset with some ground truth inverse covariance matrix and plot probability of perfect model selection as a function of n/p.

Add an example to draw comparisons between say the naive and adaptive methods.

[2016-08-14 18:36] mnarayan opened #29 "Ensemble/Model Averaging"
# Ensemble/Model Averaging/Random Glasso variants

Weights can also be used to implement ensemble model averaging of graphical lasso estimates.

Pseudo-algorithm:
Subsample rows/observations in datamatrix X.
For each subsampled datamatrix X*
1. Create a random penalty matrix according to which every scheme below (either adaptive or non-adaptive) W
2. Call graphlasso using X\* and lam = W to give T

[2016-08-15 00:53] #15 closed, assigned to nobody

[2016-08-15 00:55] #23 closed, assigned to jasonlaska

[2016-08-16 04:36] #29 closed, assigned to jasonlaska

[2016-08-16 04:43] jasonlaska opened #31 "Other links to look at"
http://nilearn.github.io/connectivity/connectome_extraction.html

[2016-08-23 02:47] mnarayan opened #36 "Changes to random matrix penalties"
Three different categories of random matrix penalties
1. "subsampling" case: Send in scalar `lam` value, simply subsample or bootstrap, refit estimator, aggregate model selection.
2.  "random" case: Send in scalar `lam` value as input
   -   For all non-diagonal and unique (i,j) entries
   -   Weight matrix `W. W_{ij} \in (c, 1/c) with Bernoulli(.5), where c = 0.5` by default
   -   The effective

[2016-08-23 03:40] jasonlaska opened #37 "Algorithm: Component Pursuit (COP)"
A greedy approach.

http://www.kdd.org/kdd2016/papers/files/rpp0766-hanAemb.pdf

[2016-08-23 03:42] #8 closed, assigned to mnarayan

[2016-08-29 00:27] #36 closed, assigned to jasonlaska

[2016-08-29 01:51] #28 closed, assigned to mnarayan, jasonlaska

[2016-08-31 16:29] jasonlaska opened #44 "Spark Example: Model Average"
Building a spark-compatible version of this estimator seems like it would be the most immediately valuable (and easy to do naively).

[2016-09-01 05:57] #27 closed, assigned to mnarayan, jasonlaska

[2016-09-03 02:20] #21 closed, assigned to jasonlaska

[2016-09-03 02:37] #20 closed, assigned to mnarayan

[2016-09-03 02:39] #31 closed, assigned to nobody

[2016-09-03 02:44] jasonlaska opened #46 "Fix examples/plot_functional_brain_networks.py"
I've updated all the skggm interface elements, I get this error when I try to run it:

[code]

we also need the ABIDE example to be updated and make sure it can be run.

[2016-09-17 18:04] jasonlaska opened #47 "Extend interface to allow for custom sample covariance computation"
For weighted sample covariance, etc.

[2016-09-17 18:08] jasonlaska opened #48 "Docstring cleanup"
Carefully comb through docstrings, make sure they are complete and correct;  look for any copy pasta.

[2016-09-17 18:09] jasonlaska opened #49 "Blog post part 1: Base text"
Finish getting images and and base part 1 text into blog so can be wordsmithed and edited down.

[2016-09-18 01:47] #48 closed, assigned to jasonlaska

[2016-09-18 01:47] #47 closed, assigned to jasonlaska

[2016-09-18 01:48] #49 closed, assigned to jasonlaska

[2016-09-29 06:02] mnarayan opened #52 "seg fault in statistical power?"
When fitting the StatisticalPower simulation object using
`model_selection_estimator = QUICGraphLassoEBIC()`
the kernel dying in ipython notebook due to some unknown error.  This will need further investigation.

[2016-09-30 03:59] mnarayan opened #53 "Fixing some error metrics in profiling and network simulations"
- [x] Frobenious norm sometimes counts diagonal info (like in Average Power). Make sure this is changed across the package.

[code]
- [ ] Numerical issues in model selection error with banded networks.
  Why do these give inconsistent numbers, particularly exact_support versus count_support_diff

[code]
- [ ] Issues in [approx_support().] To be fixed by re-using other functions from AveragePower

[2016-09-30 22:01] mnarayan opened #54 "Change control parameters for Montecarlo Simulations"
Pick more intelligent combinations of sample sizes, sparsity and dimensionality.
For example, vary the following fraction by varying 1 parameter and holding others fixed

[code]

[2016-10-02 17:31] #52 closed, assigned to nobody

[2016-10-02 17:32] #46 closed, assigned to mnarayan

[2016-10-03 04:53] mnarayan opened #56 "EBIC Issues"
Using my new network simulations seems to through EBIC totally crazy.

[code]

E.g. for alpha = .05, banded type. Super easy scenario fails.

[code]

Firstly the results have too many random edges. But it is also likely that lambda values are not going low enough, so it might be an issue of choosing grid of parameters.

[2016-10-04 17:30] mnarayan opened #57 "Memory issue with trace_plot"
Currently `inverse_covariance.plot_util.trace_plot` plots the regularization path of all edges.  This does not offer as much insight in larger matrices and also consumes too much memory.  It would be more useful to
- [x] By default: Only plot the top k edge coefficients where k might max out at 25 or 50,
- [x] Let user input edge indices,
- [x] Let user specify ground truth precision matrix. Then

[2016-10-09 17:58] mnarayan opened #58 "Pseudolikelihood estimators"
sklearn.linear_model has all the ingredients to implement the "pseudolikelihood" regression version of inverse covariance estimation that doesn't have the wrapper block coordinate descent. It is literally p uncoupled high dimensional regressions with some extra steps to symmetry and positive definiteness using cholesky decompositions.

It would be easy for us to implement a pseudolikelihood estima

[2016-10-10 00:17] mnarayan opened #59 "Repeated k-fold cross validation"
Currently cross-validation either

- computes a metric over k-folds and reports the result of a single cross validation
- creates multiple training/test splits (multiple sample splits) and averages over these. (But each split might not be exactly independent of other split)

In fact, it is preferable to have [repeated k-fold cross-validation](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3994246/)

[2016-10-30 19:13] mnarayan opened #61 "Move functions in simulation_example.py to data generation class"
The simplest data generation class needs the following functionality:
- Adjacency generation according to erdos-renyi, or banded network structure types
- Converting an adjacency matrix into a proper precision and covariance matrix
- Simulating from a multivariate probability distribution (initially normal, but later one maybe t-variate  and others as well).

https://github.com/skggm/skggm/blob/fe

[2016-10-30 19:31] mnarayan commented on #58
This would wrap around both sklearn's linear model estimators (for Gaussian data) and pyglmnet for non-Gaussian data https://github.com/pavanramkumar/pyglmnet/tree/master/pyglmnet.

Very usable for people working with binary and poisson observations.

[2016-11-12 20:14] jasonlaska opened #63 "Monte-Carlo simulation class that takes a particular"
data generation class as input, and metric to evaluate.

[2016-11-12 20:14] jasonlaska commented on #63
See https://github.com/skggm/skggm/pull/62

[2016-11-12 20:16] jasonlaska commented on #54
Will be addressed when #63 is shipped.

[2016-11-12 20:17] #54 closed

[2016-11-12 20:18] jasonlaska commented on #61
For network metrics blog post.
I need
a. A simple version of the data generation class with at 3 graph types.
b. A set of methods for different metrics
- Monte-carlo class with random number state tracking + a + b

[2016-12-11 20:17] mnarayan opened #74 "QUIC alternative for adaptive graphical lasso (esp. with weights enforcing zero-edges)"
Optimization algorithm (alternative to QUIC) that significantly speeds up any adaptive variant of graphical lasso where some entries of precision matrix $\Theta$  are enforced to be zero.  It takes these zero contraints and converts them into constraints on sets of pathways that make solving the graphical lasso criterion much faster.

Open question: Can all zero constraints be transformed into a p

[2016-12-11 20:24] jasonlaska commented on #74
This would be awesome (and fairly easy to integrate) if it's compatible w the theory.  We could also add it as an option for the second step estimator.  One thing to keep in mind, in two of the adaptive penalty cases,  we use `QuicGraphLassoCV` to obtain a better penalty scale (https://github.com/skggm/skggm/blob/develop/inverse_covariance/adaptive_graph_lasso.py#L123-L131);  would we effectively

[2016-12-11 20:26] jasonlaska opened #75 "Take a look at joblib memmap for large data"
https://pythonhosted.org/joblib/parallel.html

[2016-12-11 20:27] jasonlaska opened #76 "Take a look at Dask as alternative to joblib for parallel"
http://dask.pydata.org/en/latest/use-cases.html

[2016-12-11 20:27] #63 closed

[2016-12-11 20:28] #61 closed

[2016-12-11 20:28] #44 closed

[2016-12-11 20:30] jasonlaska commented on #53
Numerical issues with `exact_support` and `approx_support` persist in the `.profiling` submodule.  It's real weird because I have tests on these metrics `inverse_covariance/profiling/metrics` and they pass.

[2016-12-11 20:36] mnarayan opened #77 "Rank based alternatives for sample covariance/correlation matrix"
Enables implementation of simple nonparametric variant of graphical lasso or any other future estimators for the precision matrix.

Task involves creating another function for the rank-based sample correlation/covariance and offering this an alternative to current empirical covariance.
**Key Steps:**
1. Take rows of observations and transform into ranks
2. Unbiased spearman's rankk correlation (eq

[2016-12-11 20:38] mnarayan commented on #53
@jasonlaska Does this mean we still have to do some artificial thresholding? I'll take a look at this again too.

[2016-12-11 20:44] jasonlaska commented on #56
Huh,  yea I don't know exactly what the issue is, but I'll try to reproduce (with the new graph tools) and see what I can find out.

[2016-12-11 20:45] mnarayan commented on #74
I haven't looked closely at whether they provide a `path` mode in their
implementation. Either way, we would have to create a CV variant of their
pathway optimization, like a `PathwayGraphLassoCV` or some such.  If there
is no path mode, then maybe we can offer estimating different $\lambda$
values in parallel using joblib/dask/spark.

Since their pathway transformation involves adding a shift $\D

[2016-12-11 21:57] jasonlaska commented on #53
As you play around with the tools, please advise and I'll integrate fixes in.

[2016-12-11 21:58] jasonlaska commented on #74
Without a `path` mode, we can just use sklearn's GraphLassoCV after we wrap it as an `InverseCovarianceEstimator`.  Not as optimized but works.

[2016-12-11 21:59] jasonlaska commented on #74
*GridSearchCV

[2016-12-11 22:20] jasonlaska opened #79 "Simulation Benchmarks"
Create simulation benchmarks with new tooling

[2016-12-12 01:51] #57 closed

[2017-01-19 02:33] mnarayan opened #81 "Create plugin for nilearn"
Since our estimators are sklearn compatible, we can enable those who use nilearn for graphical model estimation to use skggm estimators as well.

This would involve using [ConnectivityMeasure](http://nilearn.github.io/modules/generated/nilearn.connectome.ConnectivityMeasure.html#examples-using-nilearn-connectome-connectivitymeasure) from nilearn as a base estimator class (which is designed for dea

[2017-01-19 03:44] jasonlaska commented on #81
This seems like just an example right?  How is this different than just showing an examples that includes lines similar to:

[code]

[2017-01-19 05:47] mnarayan commented on #81
This is definitely an example not a core feature.

But it needs to handle some issues relating to dealing with multiple
subjects/networks. The expectation of the output is that sparse support
will be comparable across all of them in some sense.

Nilearn folks discourage using this base estimator for single graphs. But
as you point out. It is trivial for this naive usecase where we are
compatible.

[2017-02-05 19:44] jasonlaska opened #82 "Upgrade cross-validation for compatibility with 0.18"
Some refactoring of the cross-validation interface occurred between sklearn 0.17 - 0.18.  Need to check and fix and areas where incompatibilities exist.

[2017-03-02 02:03] TianpeiLuke opened #83 "TypeError: expected bytes, str found"
Hi,
  I was trying to run the convergence_comparison.py in the examples. I run across this issue.

Traceback (most recent call last):
  File "convergence_comparison.py", line 28, in <module>
    vals = quic(Shat, .004, mode='default', tol=1e-6, max_iter=1000, Theta0=np.eye(Shat.shape[0]), Sigma0=np.eye(Shat.shape[0]), path=None, msg=1)
  File "/home/tianpei/anaconda3/lib/python3.5/site-packages/sk

[2017-03-02 03:17] jasonlaska commented on #83
Hi Tianpei,

Questions:
- which OS/platform are you running on?
- where you able to run any of the other demos

I haven't tested this with python3 yet, but I'll make a ticket to make sure it runs there in the future.  If you find the solution in the interim, please report it here.

cheers

[2017-03-02 03:17] jasonlaska opened #84 "Ensure python3 compatibility"
Current package has only been tested on python2.7.

[2017-03-02 03:18] jasonlaska commented on #84
See #83

[2017-03-02 03:39] TianpeiLuke commented on #83
A:
 1. I was running on ubuntu 16.04. using anaconda, with python 3.5
 2. All demos related to quic stops due to the issue with pyquic.cpp

I actually realized that this is due to the use of python 3, since it works when I run it on my laptop with python 2.7.

[2017-03-02 03:45] TianpeiLuke commented on #83
Hi, Thank you for quick reply. I also realized that all print " .. " commands should be changed to print("..") if needs to run with Python 3. That is a small issue.

[2017-03-02 04:42] TianpeiLuke commented on #83
I think this doc is useful.
[](http://cython.readthedocs.io/en/latest/src/tutorial/strings.html)

[2017-03-08 07:00] mnarayan opened #85 "Fix binary case of AdaptiveGraphLasso"
If I use `estimator=QuicGraphLasso(lam=0.2)` as the initial estimator and I chose the `method=binary` option,  I expect the default behavior for the second stage estimate to not use any regularization on the non-zero support.  But this does not seem to be possible.

One option is to change following line to `self.estimator_ = QuicGraphLasso(lam=self.lam_ ,`
https://github.com/skggm/skggm/blob/3fa6

[2017-03-08 07:28] mnarayan opened #86 "QuicGraphLassoCV bug"
When input parameter to the function is a tuple such as `cv=(3,3)` function fails.

[Line541](https://github.com/skggm/skggm/blob/92bdc791fc462a52121ec1ad87c586736d9b9946/inverse_covariance/quic_graph_lasso.py#L541) is the culprit. Tries to reference a local variable`cv` that is not yet defined instead of `self.cv`

[2017-03-25 20:53] mnarayan commented on #53
So I have at least one potential clue regarding numerical issues. They might be related to using 3-fold CV.

Using `cv=(3,10)` gives the following support
[code]

Whereas using `cv=(2,10)` gives the following
[code]

This makes sense as most regimes for covariance estimation, 3-fold results in too little data for model re-fitting in hold out and creates more false positive selections. The values a

[2017-03-25 22:06] #86 closed

[2017-03-25 23:32] #84 closed

[2017-03-25 23:34] jasonlaska commented on #83
Hi @TianpeiLuke,

I've updated some things so that the package will work in python3.  Thanks for the tip above, I've used that as well as a few other minor edits.  The example files should now be compatible as well.

These changes will appear in the next release, but you can get them now by pulling the `develop` branch in this repo and runnign setup.py or compiling `pyquic` with `make python3`.

P

[2017-03-25 23:34] #83 closed

[2017-03-26 01:02] jasonlaska commented on #82
This was addressed in #89

[2017-03-26 01:02] #82 closed

[2017-03-26 01:08] jasonlaska commented on #85
If `self.estimator.lam_` from the first estimator is never used in the binary case, then I would just get rid of it in that line you mentioned.

If this is something that is optional for all methods, then we can have a flag that determines whether it gets used or not.

If this toggle is only desirable in the binary case, then perhaps instead of a flag it can just be a new `method` called `binary-u

[2017-03-26 01:09] #79 closed

[2017-03-26 01:10] jasonlaska commented on #56
@mnarayan Have you thought about this issue and what might be the root cause?

[2017-03-27 18:01] mnarayan opened #90 "Compatibility with sklearn model_selection module"
Older cross validation module has been deprecated

[code]

It might make sense to make all our model selection variants (EBIC, CV, and more to come) compatible with new interface.

[2017-03-27 19:09] mnarayan opened #91 "Check for logdet issues in python3"
In applying AdaptiveGraphLasso to some new data, I see a lot of these warnings

[code]
[code]

Encountered this when using latest develop [branch, e16ff8c4d10](https://github.com/skggm/skggm/commit/e16ff8c4d10e8628d29a6109795682ec14952288)
and calling skggm with python3.5

[2017-03-27 19:54] jasonlaska commented on #90
This is already addressed, please pull latest develop branch
On Mon, Mar 27, 2017 at 12:48 PM mnarayan <notifications@github.com> wrote:

[2017-03-27 19:55] jasonlaska commented on #90
Abd close the ticket
On Mon, Mar 27, 2017 at 12:54 PM Jason Laska <jlaska@gmail.com> wrote:

[2017-03-27 20:59] mnarayan commented on #90
I still get the warnings however. I'm using latest develop branch.

On Mon, Mar 27, 2017, 13:51 Jason Laska <notifications@github.com> wrote:

[2017-03-27 22:59] jasonlaska commented on #90
Did you reinstall requirements

On Mon, Mar 27, 2017 at 1:59 PM mnarayan <notifications@github.com> wrote:

[2017-07-10 03:19] mnarayan opened #93 "Centering/scaling transforms for matrix-variate models"
Add a function to perform either two-way centering or successive normalization that can be called before initializing the sample correlation using `init_method`.

To implement the methods discussed [here](https://github.com/neuroquant/tutorial-prni-2017)

[2017-07-10 08:29] mnarayan commented on #90
Closing this issue as I don't get the warnings anymore.

[2017-07-10 08:29] #90 closed

[2017-07-10 08:39] mnarayan opened #94 "Speed up computations for larger graphs"
For whatever reason QUIC seems to be quite slow ones `n_features > 200`.
Need to dig into to how to improve this.

Possible solutions include regression based estimators that wrap around high dimensional regression #58 and #74 could come in handy. Both of these can be combined with  spark compatibility helps for parallelization at the level of nodes or pathways.

[2017-07-10 09:17] mnarayan opened #95 "Use scikit-optimize for tuning search space for model selection"
Not being beholding to specifying a sub-optimal grid/family of models for tuning the initial estimator will be extremely useful.

Use drop-in replacement for `GridSearchCV` from [scikit-optimize](https://scikit-optimize.github.io/).

[2017-07-10 19:31] mnarayan opened #96 "Simulator Class"
We will soon have a variety of Gaussian & Non-Gaussian distributions to deal with, with both multivariate and matrix variate structure.

It might be useful to create a new `simulator` class in a simulation module to generate simulated data with specified graph structure, covariance/precision matrices and so forth.

There is nothing like this in the scikit-learn API. The statsmodels API has [model

[2017-07-10 19:39] mnarayan opened #97 "Add additional tests to check initialization of sample correlation matrix"
Given the new features that adds rank correlation options to `init_method` for `quic_graph_lasso.py` we need more tests.

From discussion of PR #92

[2017-07-13 19:41] charles2588 opened #98 "Cannot import QuicGraphLasso 3.5 , get another error with 2.7."
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/charles/.local/lib/python3.5/site-packages/inverse_covariance/__init__.py", line 2, in <module>
    from .inverse_covariance import (
  File "/Users/charles/.local/lib/python3.5/site-packages/inverse_covariance/inverse_covariance.py", line 78
    print 'Warning: Path must be sorted largest to smallest.'

[2017-07-13 22:36] jasonlaska commented on #98
Huh interesting, doesn't look like the last release included those python3 fixes.   For now try pulling the latest `develop` branch (see https://github.com/skggm/skggm/blob/develop/inverse_covariance/inverse_covariance.py#L80)  and installing manually (see instructions in Readme.md).

We should be release a new version shortly with a few extra tools so I'll keep you posted.

[2017-07-16 21:10] jasonlaska commented on #97
I added these.

[2017-07-16 21:10] #97 closed

[2017-07-16 22:29] jasonlaska commented on #98
Hi @charles2588, just updated to skggm 2.7;  you can find it at https://github.com/skggm/skggm/releases, https://pypi.python.org/pypi/skggm/0.2.7, or pull it with `pip3 install skggm --upgrade`.   This should fully support python3.

Let me know if your issues persist, we would love to make sure folks can use this package (still working out the kinks).

cheers.

[2017-07-16 22:29] #98 closed

[2017-07-20 23:01] mnarayan opened #99 "Add node ranking loss function to metrics"
In the context of multi-label regression sklearn has some [metrics]((http://scikit-learn.org/stable/modules/model_evaluation.html#multilabel-ranking-metrics) to assess ranking.

This combined with simple methods to estimate ranks from some underlying continuous attribute can be used to create an additional ranking based loss function to assess estimated inverse covariance or derived networks.

[2017-08-31 00:49] mnarayan opened #102 "Error when specifying grid of regularization path values in QUICGraphLassoCV"
QUICGraphLassoCV expects self.lams to be a `collections.Sequence`.
https://github.com/skggm/skggm/blob/develop/inverse_covariance/quic_graph_lasso.py#L575

However specifying the grid of values for path mode is usually a numpy array.  Since the check for a path of values fails, it errors as follows.

[code]
@jasonlaska is there any reason we compare self.lams to collections.Sequence? It seems like

[2017-08-31 01:43] mnarayan opened #103 "Error when calling ModelAveraging in subsampling mode"
Here is an example input where  regularization is a scalar `lam = 0.02566`
[code]

Resulting in the following bug
[code]

[2017-08-31 02:07] jasonlaska commented on #102
It's checking whether it's a list, the expectation being that the `lams` passed in would be a list.  I think the right fix would be to invert the condition and instead check for a scalar, which would handle both np.array and a list.

[2017-08-31 02:19] mnarayan commented on #102
Yes, I made some changes along these lines. Will push a fix.

[2017-08-31 03:02] mnarayan commented on #102
Fixed in PR #101. However, if a list is ever passed subsequent calls to QuicGraphLasso will hit errors. However, there is no reason for someone to pass a list since the interface to QuicGraphLasso asks for an array of floats and similar convention will be expected to follow elsewhere.

[2017-08-31 03:02] #102 closed

[2017-10-08 17:46] mnarayan commented on #95
This is how one would invoke `BayesSearchCV` using QUIC's default mode.
[code]
Here is an [example](https://gist.github.com/mnarayan/1c4287e3b8f8105c218c2150a8e5e7b4#file-skggm_optimal_selection_example-py) of using `BayesSearchCV`

Results from running `run skggm_optimal_selection_example.py` output
[code]

[2017-10-08 18:39] jasonlaska commented on #95
Based on your example here, this feels more like something that should go in `/examples` and not something that should be part of the main package.  My reasoning is:

- we should shy away from providing light wrappers over other packages (or just combinations of packages) since then we have increased maintenance when they change their interface, introduce incompatibilities, etc.  It's fine to prov

[2017-10-08 19:58] mnarayan commented on #95
@jasonlaska The example I made was just a brute force example to show usage of `BayesSearchCV` which is a wrapper around skopt's `Optimizer` class.
The real changes I think need to happen as you pointed out here

skopt's Optimizer lets you go about adaptively picking a grid of points to evaluate.  For example, this would not be possible to achieve to accomplish for EBIC by invoking `BayesSearchCV`

[2017-10-09 03:49] mnarayan commented on #18
Given the new availability of [networkx-metis](https://github.com/networkx/networkx-metis),
instead of using the C++ bigquic implementation which is very mpi/high performance computing focused, an alternative is to implement covariance screening approach using networkx-metis ourselves. An advantage of the latter are
-  the original quic takes the covariance matrix as an input rather than the data

[2017-12-28 15:51] mnarayan commented on #74
@maximsch2 This would be fantastic! If I recall correctly, your paper mentioned solving the glasso problem one pathway at a time by wrapping around existing solvers like QUIC.

As a first step, given an initial 0/1 adjacency matrix (which might be inferred from the data or side information available to the user), it would be nice to transform this into an approximate set of pathway constraints.

-

[2017-12-28 22:34] maximsch2 commented on #74
Yeah, in theory, any existing solver should work, but it a) needs to be adapted to support shifted penalty b) support warm-start, as pglasso is an iterative algorithm essentially doing message-passing over the pathways.

As the DP-GLasso we are using is warm-startable, the entire thing is warm-startable as well, so getting a path over lambda values efficiently should not be an issue.

I think the

[2018-01-01 20:27] dPys opened #106 "Installation using alternate lapack lib?"
Hi guys,

I've started including skggm as an optional dependency for PyNets (see [graphestimation](https://github.com/dpisner453/PyNets/blob/localpynets/pynets/graphestimation.py) module), but I've been struggling to get skggm to compile on HPC where I don't have root privileges and lapack is only offered as part of the MKL suite.  Have you all had any success installing skggm with MKL implementat

[2018-01-02 04:48] jasonlaska commented on #106
Hi Derek,

I am unfamiliar with MKL-lapack but if you do figure out how to get it to work, we'd appreciate a PR with some changes to setup.py file (maybe to detect that those versions of the libraries exist and use them instead of https://github.com/skggm/skggm/blob/develop/setup.py#L42).  Including it there may make it easier for your package to rely on skggm as a dependency.

You can clone this

[2018-01-02 04:52] jasonlaska commented on #106
Also-- thanks for including us!

[2018-01-02 05:18] dpisner453 commented on #106
You bet. Will try a few things and let you know what I come up with.

[2018-01-03 23:53] dpisner453 commented on #106
Update:

So I worked some magic and got skggm to install using the MKL lapack implementation.

First, I add the following to both setup.py and inverse_covariance/pyquic/setup.py:
[code]

and add the following to my setup.cfg:
[code]

Within inverse_covariance/pyquic, I then delete pyquic.cpp, build, and *.so

I then run:
[code]
which completes successfully.

Next, I cd back to skggm's base directo

[2018-01-04 00:51] jasonlaska commented on #106
Try making the same edits in the skggm `setup.py`, clean the .so and try re-running/compiling from the skggm setup.

[2018-01-04 02:16] dpisner453 commented on #106
No dice. I had already tweaked both setup.py's.

Other thoughts?

[2018-01-04 02:43] jasonlaska commented on #106
Looks like a linking issue with something in lapack, but cursory googling hasn't yielded any good results.  Found this page which gives a long list of linking options you can try:  https://software.intel.com/en-us/mkl-linux-developer-guide-linking-on-intel-64-architecture-systems

[2018-01-04 03:09] dpisner453 commented on #106
Yeah that's what I've figured. And in my experience, this is usually a roadblock.

Hmm, what version of lapack does skggm use by default? the one from ATLAS? that is, which lapack implementation did you guys develop with?

If unsure, running:
[code]
in your python3 interpreter might offer some hints?

Thanks for bearing with me!
-derek

[2018-01-04 05:06] jasonlaska commented on #106
I'm on macos 10.11.6:

blas_mkl_info:
  NOT AVAILABLE
blis_info:
  NOT AVAILABLE
openblas_info:
  NOT AVAILABLE
atlas_3_10_blas_threads_info:
  NOT AVAILABLE
atlas_3_10_blas_info:
  NOT AVAILABLE
atlas_blas_threads_info:
  NOT AVAILABLE
atlas_blas_info:
  NOT AVAILABLE
blas_opt_info:
    extra_compile_args = ['-msse3', '-I/System/Library/Frameworks/vecLib.framework/Headers']
    extra_link_args =

[2018-01-04 05:31] dpisner453 commented on #106
Thanks!

I'll ping the HPC admins and see what gives with our lapack implementation...

Stay tuned.
-derek

[2018-01-04 18:03] dpisner453 commented on #106
Okay so I think I've isolated the issue, and it is indeed a problem with non-ATLAS versions of lapack not playing nice with QUIC.

Specifically, the ATLAS version of lapack comes with one special c-extension, clapack-dpotrf, which no other lapack implementations (MKL or otherwise) seem to include! This means that anyone who is not on OS X (which doesn't have to worry about lapack for compiling QUI

[2018-01-04 18:11] jasonlaska commented on #106
I'm pretty sure you can install ATLAS on many platforms, available in debian linux and bsd distributions by default (http://math-atlas.sourceforge.net/faq.html). It is also pretty easily installed with apt on ubuntu (see notes here: http://caffe.berkeleyvision.org/install_apt.html).

Is it possible to get your admin to install that for you?  What os are you working with?

[2018-01-04 20:26] mnarayan commented on #106
@dpisner453 Thanks for your work on this. Also you can look at our travis.yml https://github.com/skggm/skggm/blob/develop/.travis.yml to get a sense of how we've been able to run skggm on many linux systems.

I have been able to run skggm on two different HPC clusters, so I can double check their specs and get back to you on what works.

An alternative solution: Would it helpful for you to have a

[2018-01-04 20:39] mnarayan commented on #74
@maximsch2 It seems indeed the next best step is to create a solver for the Shifted DP-Glasso similar to the current QUICGraphLasso API with a single lambda or a path mode via warm starts.

Some things to note, it would be nice to support weighted L1 penalties as is supported for QUIC.  This will all the adaptive, model averaging options will be open to the shifted dp-glasso solver as well.  What

[2018-01-04 20:52] dpisner453 commented on #106
Thanks for following up on this guys! I'm working on TACC's stampede2 supercomputer. Although I've pushed for them to install ATLAS in the past (because as @jasonlaska noted, it can be installed on pretty much every platform!), they are insistent that the MKL libs should suffice in place of ATLAS (I strongly disagree with this, even though they are correct that MKL's lapack should theoretically be

[2018-01-04 21:04] mnarayan commented on #74
Also regarding boxQP, I'm not as familiar with python ecosystem but
quadprog  https://github.com/rmcgibbo/quadprog and qpsolvers come to mind
as possibilities https://github.com/stephane-caron/qpsolvers.

Have you used any of these? Any thoughts on pros and cons?

On Thu, Dec 28, 2017, 17:34 Maxim Grechkin <notifications@github.com> wrote:

[2018-01-04 21:18] mnarayan commented on #106
Also want to point out, maybe solution could include slightly modifying
QUIC.C to include the right libraries.

Some decisions were made to make things Octave compatible.

[code]

On Thu, Jan 4, 2018, 15:52 Derek Pisner <notifications@github.com> wrote:

[2018-01-04 21:48] jasonlaska commented on #106
Here's the dockerfile (https://github.com/neuroquant/jf2016-skggm/blob/master/Dockerfile) from @mnarayan's binder demo (https://github.com/neuroquant/jf2016-skggm),  maybe you can use that as boilerplate of what would go into a singularity container.

[2018-01-04 23:11] mnarayan commented on #106
Also, singularity hub automatically builds singularity containers from a
Dockerfile.

See https://github.com/TheEtkinLab/CPAC/blob/master/sing_deploy.sh

On Thu, Jan 4, 2018, 16:48 Jason Laska <notifications@github.com> wrote:

[2018-01-05 00:06] dpisner453 commented on #106
Cool. @mnarayan -- dpotri_ appears in lines: 203, 355, and 454 of QUIC.C
I have no idea what it does though, so I hesitate to modify it and would probably just break things...

And thanks @jasonlaska  -- Will give the Dockerfile a try.

[2018-01-06 18:47] mnarayan commented on #106
With respect to modifying QUIC.C, we might want to try making a conditional — if intel MKL available include lapacke.h otherwise keep the current declaration. Then it should take care of the compilation errors that dpotrf or dportri was not found. These are C interface functions to lapack for fast Cholesky decompositions. @jasonlaska Does this make sense to you?

Shogun has an instance of doing th

[2018-01-06 19:23] dpisner453 commented on #106
@mnarayan -- good catch. I have a feeling that will work. And for other users who compile with mkl, I think they may see a considerable speedup with many of skggm's functions as well...

In the meantime, I've built a docker / singularity container, which I will be testing on stampede2 this weekend, in case the tweaks to pyquic won't be ready yet!

Thank you so much guys.
derek;

[2018-01-06 20:06] jasonlaska commented on #106
Yea if you can make it work with a preprocessor flag #ifdef and just just swap out the call dependening on the def, that would be swell.  Just get a PR working on your end and we can try compiling it on our various other environments.

[2018-01-06 21:11] dpisner453 commented on #106
FYI:

Dockerfile:
[code]

Then:
[code]

[2018-01-07 04:02] dpisner453 commented on #106
It's not running super cleanly yet, but I'm working on it. Really want to get a docker image with all of this set up for python3.6...

@mnarayan -- Any progress on your end with the dpotrf_ swap?

[2018-01-07 20:23] mnarayan commented on #106
Sorry, I'm not going to be able to test out the idea for a few days at
least.

On Sat, Jan 6, 2018 at 11:02 PM, Derek Pisner <notifications@github.com>
wrote:

--
Manjari Narayan, Ph.D.
Postdoctoral Research Fellow
School of Medicine, Stanford University
*******************************************

[2018-01-07 23:15] dpisner453 commented on #106
No problem!

Grateful for the help.
derek

[2018-01-08 05:38] mnarayan commented on #106
Ok, I tested out my idea for using preprocessor flags to define options for MKL libraries,
https://github.com/skggm/skggm/blob/feature/pyquic-mkl/inverse_covariance/pyquic/QUIC.C#L55

However it doesn't work and I see the same error that @dpisner453 was running into with undefined reference to `dpotrf_`.

If I ensure`HAVE_MKL is set to 1` then it looks like QUIC's calls to dpotrf_ and dpotri_ are

[2018-01-08 16:06] jasonlaska commented on #106
@mnarayan yea,  I would also suggest that we wrap the call sites with #ifdef/#ifndef/#else rather than redefining the function name which is an antipattern or alternatively define new variables DPOTRF / DPOTRI that get used at the call sites (closer to the shogun example). Also, #def variables should be all caps by convention as well.

If you wrap the call sites, you can change the call so that it

[2018-01-08 23:21] dpisner453 commented on #106
Figured as much. Well, I think we learned at least three things here gentlemen:

1. lapack/blas implementations outside of ATLAS (though possibly just limited to MKL) do not play nice with QUIC.

2. Swapping the dpotrf_ and dpotri_ references is involved, but for future skggm/QUIC development, may be something to consider, particularly if skggm wishes to widen its user-base further (and since MKL

[2018-01-09 05:47] mnarayan opened #107 "GSOC Application for 2018"
See information here
https://summerofcode.withgoogle.com/
https://opensource.googleblog.com/2018/01/seeking-open-source-projects-for-google.html

Discuss. Possible organizations could be
- [INCF](https://summerofcode.withgoogle.com/archive/2017/organizations/6593178794721280/)

Current ideas [here](https://www.incf.org/collaborate/tool-development/google-summer-of-code/gsoc-2018-project-ideas)
- [

[2018-01-09 22:14] mnarayan commented on #106
You might want to use a gender neutral term ;-). Not all dudes here.

Its not an issue for OPENBLAS as well which have been available on HPCs
I've tested. We should add this to travis too. MKL seems to be the main
issue.

On a related note. The QUIC implementation as a part of BIGQUIC does not
seem to use lapack libraries at all since it tries not to store the
covariance matrix though it does have

[2018-01-09 22:30] dpisner453 commented on #106
Rightly noted!*

Good suggestion RE: BIGQUIC. Will take a look!

-derek

[2018-01-09 22:59] mnarayan commented on #106
Yeah, we have another issue regarding BigQUIC implementation. Unfortunately
it is a lower priority since it requires a lot of work to bring API to
support the various estimator classes supported by skggm. I don't recommend
it for practical/science usage as you cannot modify tuning parameters as
needed.

It is not clear that time on BigQUIC will be time well spent. In fact,
scrapping most of their

[2018-01-10 21:48] dpisner453 commented on #106
Makes sense! Well again, thanks for all the help @mnarayan and @jasonlaska . Look forward to working with you all more in the future and seeing what skggm creates next!

derek;

[2018-01-11 04:08] jasonlaska commented on #106
Please do let us know how your project goes.  We'd love for more folks to use these methods in their work.

-j

[2018-01-16 03:33] mnarayan commented on #106
@jasonlaska Regarding your comment here. If [lapack](http://www.netlib.org/lapack/explore-html/de/ddd/lapacke_8h_a6a77be44f67ecce372380a594623086a.html#a6a77be44f67ecce372380a594623086a) doesn't declare matrix size needs to be long int, I don't see why we need to be. I don't think we will lose precision here.

[2018-01-17 06:06] kaczmarj opened #108 "ENH: distribute python wheels"
Hello,

Would it be possible for `skggm` to distribute Python wheel files? Wheels do not require compilation when installing, so users would not have to install `gcc` and other compilation dependencies (this is very helpful in Docker images). Wheel files can be created for macOS, Linux, and Windows with `python setup.py bdist_wheel` and can be uploaded to pypi with `twine`.

Thank you,
Jakub

[2018-01-19 22:57] mnarayan commented on #108
Thanks @kaczmarj. We will look into this.

[2018-01-20 21:57] mnarayan commented on #106
I also checked with my numerical analyst friend who concurs that down casting long int to int shouldn't matter for us.

[2018-01-30 22:34] dpisner453 commented on #81
@mnarayan -- this was an interesting discussion that I was hoping we could resume?

My two cents on this is that the nilearn folks are correct that _single_ precision matrices for single individuals are not comparable across individuals (i.e. where skggm is compatible). The philosophy behind PyNets, however, is that the 'intersection' across a distribution of precision matrices built upon multiple

[2018-01-31 00:01] mnarayan commented on #81
Hi @dpisner453. I think the issue of whether individual graphs are comparable or not depends on
a) The kinds of individual level and population level statistical models assumed
b) The types of loss functions used to compare precision matrices.
c) There are also many flexible intermediate options that are not yet implemented here to optimally pool information across subjects without compromising in

[2018-01-31 05:03] dpisner453 commented on #81
Thanks for the response @mnarayan !

Are you referring to population-based network estimators like [D-trace loss](https://academic.oup.com/biomet/article-abstract/104/4/755/4460032)?

I should clarify I am not suggesting the use of estimators that pool information across subjects (i.e. inter-subject models), only those that pool information _within_ subjects, because, as you noted, PyNets has an e

[2018-02-21 05:58] mnarayan opened #109 "Using GraphicalLasso for consistency with scikit-learn API"
Going forward `GraphLasso` is going to be `GraphicalLasso` to prevent ambiguity and confusion in the literature. https://github.com/scikit-learn/scikit-learn/pull/10078

I never did understand why the graphical lasso was `GraphLasso` in sklearn. I guess it was an inadvertent mistake. I'm happy to see the name will be fixed.

This will affect how our classes `QUICGraphLasso` and its derivatives are

[2018-04-15 16:40] jasonlaska commented on #108
Hi @pluviosilla,

Did you have trouble installing the package? Can we help?

Most linux systems have good support for compilers and macosx provides support for c-style compiling tools easily by downloading the osx developer tools. On macosx, you can also use homebrew `https://brew.sh/` to get system dependencies like compilers and python variants with relatively little hassle.

Regarding wheels, m

[2018-06-07 10:27] davesl opened #110 "Unexpected QuicGraphLassoEBIC behaviour"
I've been observing some strange behavior with the _QuicGraphLassoEBIC_ function. Perhaps this is a misunderstanding of mine from the documentation but I will try to explain.

As far as I understand, when using _QuicGraphLassoEBIC_ a `lam` parameter is specified which is then scaled to the data if `auto_scale=True`. Setting the `path` parameter to an integer should then generate a grid of regulari

[2018-06-12 04:02] mnarayan commented on #110
Model selection methods such as the EBIC only choose from an available set of models. The number of models provided depend on the resolution of the regularization path and the complexity/dimensionality of your problem.

Hypothetically if you were to specify a grid of parameters at the finest level such that between any two consecutive regularization parameters only one edge and no more than one ed

[2018-07-19 22:09] alimoges42 commented on #106
Hi all, hate to reopen this nearly expired can of worms but I am having an identical problem with the install (receiving the dpotrf_ error as described by @dPys ). Fortunately, I do have admin privileges and installed libatlas-base-dev as suggested, but I am not sure how to get numpy to link to the lapack in ATLAS as opposed to BLAS. Any chance one of you could help out with this? Here is output o

[2018-07-19 23:05] jasonlaska commented on #106
Hi @alimoges42 thanks for the comment.

I think you need to re-install numpy and specify a different configuration, does https://stackoverflow.com/questions/21671040/link-atlas-mkl-to-an-installed-numpy help?

Are you on Linux or MacOS?

[2018-07-20 16:05] alimoges42 commented on #106
Ok, I had a feeling I would need to recompile. Working on that now. I am using Ubuntu 18.04, and I'll keep you posted on progress. Thank you!

[2018-07-22 19:31] alimoges42 commented on #106
Ok, I had a feeling I would need to recompile. Working on that now. I am using Ubuntu 18.04, and I'll keep you posted on progress. Thank you!

[2018-08-01 16:51] alimoges42 commented on #106
Hey @jasonlaska everything seems to be working for the most part. I built numpy against atlas and tried a few different methods of installing skggm just to see how things worked. One thing I noticed, however, is that when I run the pytest line, it tells me that no tests are being run. Not sure if that's a big deal though, as I also ran the estimator_suite.py file which seems to work fine.

Anyway,

[2018-08-01 16:56] jasonlaska commented on #106
Great @alimoges42 -- To run the tests,  are you running `python -m pytest inverse_covariance` from the repository directory (e.g., skggm)? It should find 79 items.

Please do let us know how you're using the package, we'd love to hear about publications using skggm that we can promote.

[2018-08-01 17:01] alimoges42 commented on #106
@jasonlaska Ah, that was the problem. I was executing pytest on the inverse_covariance.py file from inside the inverse_covariance directory. The test ran, although I did get some warnings.

[2018-08-01 21:02] alimoges42 commented on #106
Forgot to mention that when running estimator_suite.py, it throws an error due to a matplotlib function change. It crunches the numbers fine, just won't show the correlation matrices. Here:
`Traceback (most recent call last):`
  `File "estimator_suite.py", line 529, in <module>`
  `  show_results(plot_covs, plot_precs)`
 ` File "estimator_suite.py", line 94, in show_results`
   ` multiplot(covs, '

[2018-09-08 23:49] #110 closed

[2018-09-08 23:50] jasonlaska commented on #109
Ok,

I think we can update the names and then provide some aliases to the old signatures.  I'll do that as part of my cleanup this weekend.

[2018-09-08 23:52] jasonlaska commented on #107
Looks like the deadline passed some time ago.  Let me know if you want to try again in 2019.

[2018-09-08 23:52] #107 closed

[2018-09-08 23:52] #106 closed

[2018-09-09 00:56] jasonlaska opened #113 "Update readme comparison chart"
```Might want to up our documentation of differences between us and sklearn. Support for randomized lasso has been eliminated from scikit-learn. They think it is too unreliable and think that rescaling the design matrix is equivalent to putting adaptive penalties in the regularizer. But these are not equivalent operations. I suspect the difference is related to sparsity vs. co-sparsity. So this gi

[2018-09-09 03:32] #109 closed

[2018-09-09 03:33] jasonlaska commented on #109
Addressed in #114

[2018-11-01 01:39] iccentt opened #117 "Error when Install on macos"
When I tried to install on MacOS, error appear with 'gcc':
[code]
Can you tell me how to solve this?

[2018-11-01 03:13] jasonlaska commented on #117
Does this help? https://github.com/healpy/healpy/issues/284#issuecomment-146456205

[2018-11-01 05:25] iccentt commented on #117
@jasonlaska I tried to upgrade llvm, but the error still persisted.
Any ideas?

[2018-11-01 05:49] jasonlaska commented on #117
It looks like the "complex" library is not available or cannot be found.  I'm not sure why that would be.  You have XCode and developer tools installed?

[2018-11-01 06:02] iccentt commented on #117
@jasonlaska I have XCode (actually updated and reinstall after upgrade to Mojave) and other.
It seems that Mojave not allow to run: xcode-select --install (due to already installed).
[code]

[2018-11-01 07:07] iccentt commented on #117
Another information: I tried on Windows & latest Anaconda 5.3 (python 3.7) with Visual C++ 14.
It also failed.
Maybe skggm only tested on Ubuntu.

[2018-11-01 15:34] jasonlaska commented on #117
I am using skggm on MacOSX El Capitan 10.11.6 and I believe it also worked on the previous OS.  You're right though, haven't tried yet on Mohave.

The ticket here has a similar issue and says to try absolute imports in cpp file: https://trac.macports.org/ticket/57430

There is probably a more general solution for letting the compiler know where the libraries live, maybe a link or envvar broke in t

[2018-11-01 15:36] jasonlaska commented on #117
And possible this note is related:

- https://stackoverflow.com/questions/50780183/cannot-install-brew-on-mojave-with-xcode10

- https://apple.stackexchange.com/questions/337940/why-is-usr-include-missing-i-have-xcode-and-command-line-tools-installed-moja

[2018-11-01 15:45] jasonlaska commented on #117
If those notes above about Mojave and the developer tools don't work, you can also try docker, we have an example docker file with ubuntu here: https://github.com/neuroquant/jf2016-skggm/blob/master/Dockerfile

[2018-11-02 00:53] iccentt commented on #117
@jasonlaska I have just got another update for Xcode from Apple this morning and successfully install skggm. I guess they fixed their issue.
Thanks for your help.

[2018-11-14 20:05] westzhicanchen opened #118 "Error when Install on Windows"
Hi developers:
I have previously installed Numpy, Scipy and Cython, but when I followed the instructions to install this package through Anaconda (pip install skggm) on my Windows 10, but I get the following error:

building 'pyquic.pyquic' extension
  error: Don't know how to compile inverse_covariance/pyquic/QUIC.C

  ----------------------------------------
  Failed building wheel for skggm

I

[2018-11-15 05:58] yandustc commented on #117
@iccentt How did you finally installed skggm? I am struggling with installing skggm on Mojave. Could you give me some hints? Thank you!

[2018-11-15 06:03] iccentt commented on #117
@yandustc check install Xcode (after update to Mojave, you need to open it for some agreements) or any updates (from App Store). The latest update helped me to solve this problem.

[2018-11-15 06:56] jasonlaska commented on #118
Hi @westzhicanchen, I'm not sure that this package will work directly on Windows as QUIC requires several standard c/posix libraries (although I am not super familiar with build chains on windows).  I recommend that you run this in a linux virtual machine on your machine, if possible.

[2018-11-15 06:56] #118 closed, assigned to nobody

[2018-11-15 17:02] jasonlaska commented on #117
Hi @iccentt it sounds like the solution here is to get the most recent update of apple's developer tools. Thank you @yandustc for investigating.

[2018-11-15 17:02] #117 closed, assigned to nobody

[2018-11-15 18:44] westzhicanchen commented on #118
Hi Jason, thanks for reply. I'm not quite sure if it's worthy to get a virtual Linux Machine. So, I wonder if you know any easier ways to fix this problem? Actually, the most I'm concerned is the adaptive Graphical LASSO function, do you know any similar packages or any other ways?

Much Appreciated!

[2018-11-15 19:20] jasonlaska commented on #118
If you can find a windows-compatible implementation of the graphical lasso that supports matrix penalties, then you can easily adapt https://github.com/skggm/skggm/blob/develop/inverse_covariance/adaptive_graph_lasso.py for it as the adaptive graph lasso is more of a meta-algorithm.

There are some resources in the readme of this repo for original QUIC implementations.

[2019-02-01 09:30] wdevazelhes opened #119 "cannot install in python 2.7"
I didn't manage to install `skggm` from pip (because of black I think), using python 2.7:

[code]

Returns this error:
[code]

[2019-02-01 16:32] #119 closed, assigned to nobody

[2019-02-15 15:02] wdevazelhes opened #121 "quic is not deterministic"
quic can give different results for the same input, and setting numpy random state does not fix the problem. Is there a potential source for this indetermination ? This makes it difficult for an estimator that uses skggm to be considered as scikit-learn's estimator (i.e. pass the `check_estimator` test), because some tests check that the estimator is deterministic

Example:
[code]

Returns:
[code]

[2019-02-15 17:10] jasonlaska commented on #121
Hi @wdevazelhes thanks for bringing this to our attention. I was aware that the sklearn general tests were not passing deterministically (and I think our tests are currently broken, I need to look into it).  @mnarayan do you have any idea why QUIC would produce non-deterministic behavior?

[2019-02-15 17:35] jasonlaska commented on #121
This was the only instance of `rand()` I could find in quic.c: https://github.com/skggm/skggm/blob/develop/inverse_covariance/pyquic/QUIC.C#L322, which could be stabilized by setting the seed in c with `srand(seed)`.  I'm not sure if this is the source of the non-deterministic outputs but certainly could be.  (Seems the original authors were fixing the seed: https://github.com/skggm/skggm/blob/dev

[2019-02-15 21:52] mnarayan commented on #121
I will look into this and get back.

On Fri, Feb 15, 2019, 09:35 Jason Laska <notifications@github.com> wrote:

[2019-02-16 20:24] mnarayan commented on #121
Indeed, i believe that `srand(1)` is usually left uncommented by QUIC authors in their other algorithms. This is probably a mistake that wasn't caught because tolerance levels were smaller when debugging.

[2019-02-17 02:29] mnarayan commented on #121
Hmm, I just tried fixing the random seed. The following test `test_integration_quic_graphical_lasso_ebic`from `inverse_covariance/tests/quic_graph_lasso_test.py` fails
[code]
This could be related to following overflow warnings
[code]

[2019-02-17 03:16] mnarayan commented on #121
Ok so using `srand(1)` seems to fix indeterministic numerical errors.

However  `check_estimator` tests in skggm's [common_test.py](https://github.com/skggm/skggm/blob/develop/inverse_covariance/tests/common_test.py#L12) still fails due to check2d1sample test in [sklearn](https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/estimator_checks.py#L828). Here is the `check_estimator`

[2019-02-17 04:45] jasonlaska commented on #121
@wdevazelhes for the time being until we make a new release, you can have your project point to a0ed406586c4364ea3297a658f415e13b5cbdaf8 (the latest `develop`) to get this version with a fixed seed.

[2019-02-17 04:45] #121 closed, assigned to nobody

[2019-02-17 05:00] mnarayan commented on #113
There are two major differences now

**1. We should highlight that we have a callable empirical covariance. scikit-learn does not support this.**

**2. scikit-learn discourages use of random weights for sparse support, a feature previously supported in their randomized_l1 linear regression module.**

  The `randomized_l1` module was deprecated from sklearn https://github.com/scikit-learn/scikit-le

[2019-02-18 09:38] wdevazelhes commented on #121
Great ! Thanks a lot !

[2019-10-09 14:15] Ahra-Do opened #123 "'Don`t know how to compile inverse_covariance/pyquic/QUIC.C'"
Hello
Recently I installed a c++ build tool through a Visual study installer to install the skggm in my window 10 environment. And as a result of the pip install skggm with anaconda,  I got the above error message. Do you have any tips for solving this situation?

[2019-10-11 03:12] mnarayan commented on #123
What is your error message?

[2019-10-11 03:53] Ahra-Do commented on #123
My error message was below :)
[ERROR: Don`t know how to compile inverse_covariance/pyquic/QUIC.C]

2019년 10월 11일 (금) 오후 12:12, mnarayan <notifications@github.com>님이 작성:

--
---------------------------------------------------
Ah Ra Do
Ph.D. student in Bioinformatics
Interdisciplinary Program
College of Natural Sciences
Seoul National University
---------------------------------------------------

[2019-10-11 21:38] DervishQZ commented on #123
Me, too. Firstly I got the error: need Visual studio C++ compiling tool. After installing that I got the error: "don't know how to compile Quic.C". After I tried many other ways and my python can compile that file, I got the error that in that C source file there is grammar mistakes...

[2019-10-24 16:11] aianrosales commented on #123
same here. got the same error earlier.

[2020-06-04 17:32] raghuramdr opened #124 "ModuleNotFoundError: No module named 'sklearn.externals.joblib'"
Hi, when I try to import `inverse_covarance` in skggm, the following error pops up.

[code]
The issue is because sklearn.externals.joblib is deprecated from scikit-learn 0.21 onwards and has been removed in 0.23 of scikit-learn. Downgrading `scikit-learn` to 0.20.1 removes the error message. While, v0.21.1 of `scikit-learn` doesn't throw up the error, it does throw a deprecation warning.

This is

[2020-06-10 17:13] ostwalprasad opened #125 "Precision Estimation for undirected models with known structure"
Hello!

For models with known structures, adjacency matrix can be used to deliberately make precision zero wherever there is no edge. Is this possible with skggm? I could not find relevant functions.

There's an algorithm for the same in:   _The Elements of Statistical Learning
Book by Jerome H. Friedman, Robert Tibshirani, and Trevor Hastie_ - **Algorithm 17.1** or also in _Whittaker (1990)_

Tha

[2020-06-11 00:18] mnarayan commented on #125
Yes, this can be done by specifying a matrix of regularization values for the parameter `lam` where when the presence of an edge is known, the corresponding regularization value is set to 0 and otherwise the regularization value is set to some large constant (usually larger than the largest entry of the sample covariance matrix).

To see how this would work you can look at the `AdaptiveGraphicalLa

[2020-06-11 14:58] ostwalprasad commented on #125
Thanks for detailed answer.

I followed through and was able to generate zero precisions by passing pre-specified weight matrix to `lam` parameter of `QuicGraphicalLasso`.

[2020-06-11 14:58] #125 closed, assigned to nobody

[2020-08-11 14:20] BBQing opened #126 "ModelAverage common test fails assertion on check_no_attributes_set_in_init"
I have decided to try to fix the #124 I have independently encountered while working with metric-learn package.
I have fixed the joblib import issue into` from sklearn.utils._joblib import delayed, Parallel`, I have also fixed the sklearn GraphLassoCV import into GraphicalLassoCV import.

So far so good.

But tests failed in three cases. One of them is the mentioned issue with ModelAverage class.

[2020-09-08 10:00] sunidhibatra commented on #124
Hey, could you solve this one. Please let me know how to solve this error

[2020-09-15 19:11] mnarayan commented on #124
Thanks @sunidhibatra

[2020-10-16 06:47] haluk opened #128 "Fused and Group Graphical Lasso"
Does the package support FGL and GGL? If it doesn't, how difficult to add them to the current API?

[2020-12-24 04:07] mnarayan commented on #126
More details on failed test

[code]

[2020-12-24 04:37] mnarayan commented on #128
Hi @haluk

I believe we could add support for extending the QUIC solver to support GGL or the mixed l1/l1,p norm, if we added cython support for the functions found in
[QUIC-mixed.C](https://github.com/skggm/skggm/files/5738090/QUIC-mixed.txt). Here is the original [paper](https://www.cs.utexas.edu/~cjhsieh/quic_general.pdf) proposing this solver.

For a comparison point take a look at the cython

[2020-12-24 05:25] mnarayan commented on #124
PR #127 fixing this issue has been accepted.

cc: @raghuramdr @sunidhibatra @wdevazelhes

[2020-12-24 05:25] #124 closed, assigned to nobody

[2020-12-24 05:31] mnarayan opened #130 "Update travis for python 3.7 and 3.8"
- [ ] Fix the build for xenial and later distributions. Likely need to eliminate installation of libatlas3gf-base.  Also see updates to travis configuration for [sklearn 0.22](https://github.com/scikit-learn/scikit-learn/blob/0.22.X/.travis.yml)
- [ ] Add support for python 3.7
- [ ] Add support for python 3.8

[2020-12-24 07:57] mnarayan commented on #130
Note the following combinations do not produce build errors shown below.
`platform linux -- Python 3.6.3, pytest-3.3.0, py-1.5.2, pluggy-0.6.0`
`platform linux -- Python 3.6.9, pytest-4.6.4, py-1.8.1, pluggy-0.13.1`
[code]

[2021-02-22 16:31] camiel-m opened #132 "Installation requirements"
Hi,

I'm very interested in using your Graphical Lasso implementation due to the possibility of adding a matrix penalty (not included in sklearn). However, I'm having some issues installing the git repo. The installation finishes fine in a new environment (py3.6.13) but depending on test method there are a number of packages with the wrong version. An example is sklearn which seems to be required

[2021-03-11 21:44] Vlasovets commented on #132
hello!
I would like to join in asking help for "skggm" installation.
I created an environment with python 3.6.13 as @camiel-m mentioned before, also requirements.txt is satisfied, but I'm still getting the error below.
Would be great if you can point if I do something wrong.
Thank you in advance!

[code]

[2022-07-14 15:18] MaximilienGaudette commented on #132
Hey, I'm having the same problem here while trying to import --≥ from inverse_covariance import QuicGraphLasso. There are a bunch of packages that seem to be deprecated. Even if I fix this one with an older version of Scikit-Learn, I get another error message. Any clue on this?

Thank you in advance.

[2022-07-15 14:17] MaximilienGaudette commented on #123
Any updates on this?

Thank you :)

[2022-11-24 17:04] MaartenHBP commented on #123
I have the same problem...

[2022-11-24 19:23] mnarayan commented on #123
The compilation has primarily been tested on Linux/Mac operating systems.
Can you give more information about what c libraries and operating system
you are using?

On Thu, Nov 24, 2022, 9:04 AM MaartenHBP ***@***.***> wrote:

[2022-11-25 13:57] MaartenHBP commented on #123
I use windows 10 and have a python installation via Anaconda. I also have visual studio 2019.